{% ckan_extends %}

{% block package_list %}
  {% if user.datasets %}
    {% snippet 'snippets/package_list.html', packages=user.datasets %}
  {% else %}

    {% if c.is_myself %}
      <p class="empty">
        {{ _('You haven\'t created any tools.') }}
        {% if h.check_access('package_create') %}
          {% link_for _('Create one now?'), controller='package', action='new' %}
        {% endif %}
      </p>
    {% else %}
      <p class="empty">
        {{ _('User hasn\'t created any tools.') }}
      </p>
    {% endif %}
  {% endif %}
  {% endblock %}

