<footer class="site-footer">

    <div class="container container-center-text">
        <p style="color:yellow">Click on the logos below for direct link to specific CRP tools</p>
        <!--
        <a class="logo logos-left-padding" href="http://www.ilri.org" target="_blank"><img src="{{ h.url_for_static('ILRI.png') }}" alt="ILRI" title="ILRI"  /></a>
        <a class="logo logos-left-padding" href="http://www.iita.org/" target="_blank"><img src="{{ h.url_for_static('iita.png') }}" alt="IITA" title="IITA"  /></a>
        
        
        <a class="logo logos-left-padding" href="http://www.fao.org/" target="_blank"><img src="{{ h.url_for_static('fao.png') }}" alt="FAO" title="FAO"  /></a>
        <a class="logo logos-left-padding" href="http://www.wageningenur.nl/en.htm" target="_blank"><img src="{{ h.url_for_static('wa.png') }}" alt="Wageningen UR" title="Wageningen UR"  /></a>
        !-->
        </div>
    <p></p>
    <div class="container container-center-text">
        <a class="logo logos-left-padding" href="{{ h.url_for('group_read', action='read', id='humidtropics2') }}" ><img src="{{ h.url_for_static('HT.png') }}" alt="HumidTropics" title="HumidTropics" target="_blank" /></a>
        <!--
        <a class="logo logos-left-padding" href="http://ccafs.cgiar.org/" target="_blank"><img src="{{ h.url_for_static('ccafs.png') }}" alt="CCAFS" title="CCAFS" target="_blank" /></a>
        !-->
        <a class="logo logos-left-padding" href="{{ h.url_for('group_read', action='read', id='livestock-and-fish') }}" ><img src="{{ h.url_for_static('CRP37.png') }}" alt="Livestock and Fish" title="Livestock and Fish" target="_blank" /></a>

    </div>

    <div class="container">
        {% block footer_content %}
            <nav class="footer-links">
                {% block footer_nav %}
                    <ul class="unstyled">
                        {% block footer_links %}
                            <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
                        {% endblock %}
                    </ul>
                    <ul class="unstyled">
                        {% block footer_links_ckan %}

                        {% endblock %}
                    </ul>
                {% endblock %}
            </nav>

            {% block footer_attribution %}
                <div class="attribution container-right-text">
                    <p>{% trans %}<strong>Powered by</strong></p><a class="hide-text new-ckan-footer-logo " href="http://ckan.org">CKAN</a>{% endtrans %}
                </div>
            {% endblock %}
            {% block footer_lang %}
                <div class="attribution container-right-text">
                    <p></p>
                    {#
           <p>{% link_for _('Harvest ILRI datasets using API'), controller='ckanext.ilrifrontend.controller:harvestController', action='display_harvestInfo' %}</p>
           #}
                </div>
            {% endblock %}
        {% endblock %}
    </div>





    {% block footer_debug %}
        {% if g.debug %}
            {% include 'snippets/debug.html' %}
        {% endif %}
    {% endblock %}
</footer>
